# Игнорируем скомпилированные файлы Python
__pycache__/
*.py[cod]

# Игнорируем виртуальные окружения
.venv/
venv/

# Игнорируем локальные настройки VS Code
.vscode/

# База данных SQLite (если не хотите хранить её в репозитории)
*.db